.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black {
    background-color: #111;
}

.nav__logo {
    position: fixed;
    left: 20;
    width: 110px;
    object-fit: contain;
}

.nav__avatar {
    position: fixed;
    right: 20px;
    width: 33px;
    object-fit: contain;
}